/* Réinitialisation du body pour éliminer les marges et les paddings */
body {
    margin: 0;
    padding: 0;
}

/* Section de contenu principale */
.content {
    flex-grow: 1; /* Permet au contenu de s'étendre pour occuper tout l'espace disponible */
    margin-top: 30px; /* Marge supérieure pour espacer du header */
}

/* Footer */
footer {
    margin-top: 240px;
    background-color: #004b6e; /* Couleur de fond bleu foncé */
    color: white; /* Texte blanc */
    width: 100%; /* Occupe toute la largeur */
    text-align: center; /* Texte centré */
    padding: 10px 0; /* Espacement en haut et en bas du footer */
    position: relative;
}

/* Conteneur du contenu dans le footer */
.footer-content {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    flex-direction: column; /* Aligne les éléments en colonne */
    width: 100%;
    max-width: 800px; /* Limite la largeur du footer */
    margin: 0 auto;
}

/* Crédit (Nom, email, droits) */
.credit {
    display: flex;
    flex-direction: column; /* Affiche les éléments en colonne */
    align-items: center; /* Centre les éléments */
    width: 100%;
}

/* Liste pour chaque section dans le footer */
footer ul {
    list-style-type: none; /* Supprime les puces */
    padding: 0;
    margin: 5px 0; /* Marge verticale pour espacer les éléments */
    text-align: center; /* Centre le texte */
}

/* Style pour les éléments de la liste */
footer ul li {
    font-size: 14px; /* Réduit la taille de la police */
    margin: 3px 0; /* Marge verticale réduite pour espacer les éléments */
    padding: 0;
}

/* Spécifique à la section "name" */
.name li {
    font-weight: bold;
    font-size: 16px; /* Taille de police réduite */
}

/* Mail */
.mail li {
    color: #cfd8dc; /* Une couleur légèrement plus claire pour différencier */
}

/* Droits réservés */
.droit li {
    font-style: italic;
    color: #ffffff;
    font-size: 14px; /* Taille de police réduite */
}


