

#BlocTable {

    width: 100%;

    border-collapse: collapse;

    margin-bottom: 20px;

}

#BlocTable th, #BlocTable td {

    border: 1px solid #ddd;

    padding: 8px;

}

#BlocTable th {

    background-color: #007acc; /* Bleu clair */

    color: white;

    text-align: left;

}

#BlocTable tr:nth-child(even) {

    background-color: #f2f2f2;

}

#BlocTable tr:hover {

    background-color: #ddd;

}

#BlocTable td {

    text-align: left;

}









  
  